* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#burger, [for=burger] {
    display: none;
}

@media screen and (max-width:500px) {
    [for=burger] {
        display: block;
        position: fixed;
        right: 20px;
        top: 10px;
    }

    [for=burger]::before {
        content: '≡';
        font-size: 25px;
    }

    nav {
        position: fixed;
        top: 0;
        width: 80%;
        height: 100%;
        background-color: rgb(252, 223, 250);
        display: none;
    }

    #burger:checked + [for=burger] + nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked + [for=burger]::before {
        content: '⨂';
        font-size: 20px;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}